h1{
    font: 30pt Arial;
    color: rgb(24, 23, 23);
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}
input#valueinvest{
    margin: 10pt auto;
    display: block;
    padding: 10pt;
    font-size: 15pt;
    color: black;
    font-weight: bold;
    font: 20px Arial;
    height: 40px;
    width: 220px;
}
input#btninvest{
    margin: 10pt auto;
    display: block;
    padding: 10pt;
    font-size: 15pt;
    background-color: rgb(214, 7, 7);
    color: black;
    font-weight: bold;
    font: 20px Arial;
    height: 70px;
    width: 110px;
}

div#totalinvestido{
    margin: 10pt auto;
    display: block;
    padding: 10pt;
    font-size: 15pt;
    background-color: rgb(11, 99, 3);
    color: black;
    font-weight: bold;
    font: 20px Arial;
    height: 50px;
    width: 300px;
    text-align: center;
}

div#carteira{
    margin: 10pt auto;
    display: block;
    padding: 10pt;
    font-size: 15pt;
    background-color: rgb(11, 99, 3);
    color: black;
    font-weight: bold;
    font: 20px Arial;
    height: 50px;
    width: 300px;
    text-align: center;
}